body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.board {
  width: 360px;
  height: 360px;
  border: 2px solid black; 
  display: flex;
  flex-wrap: wrap;
}

.board div {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light {
  background-color:  #D1C7B7;
}

.dark {
  background-color: #5A4B3C;
}

.board div img{
    width: 80%;
    height: 80%;
    object-fit: contain;
    display: block;
    
}