* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.maindiv {
    height: 1000px;
    width: 1000px;
    position: relative;
    border: 2px solid black;
    background-color:rgb(113, 77, 50);
}

.b1 {
    height: 100px;
    width: 100px;
    background-color: brown;
    /* position: absolute; */
    left: 0;
    top: 0;

}
.c1{
    height: 35px;
    width: 35px;
    border: 2px solid black;
}


.b2 {
    height: 100px;
    width: 100px;
    background-color: magenta;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.c2{
    height: 35px;
    width: 35px;
    border: 2px solid black;
     top: 0;
    right: 0;
    left: 0;
    margin: auto;
}


.b3 {
    height: 100px;
    width: 100px;
    background-color: bisque;
    position: absolute;
    right: 0;
    top: 0;
}
.c3{
     height: 35px;
     width: 35px;
     border: 2px solid black;
      transform: translate(180%)
}

.b4 {
    height: 100px;
    width: 100px;
    background-color: #ff729f;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.c4{
    height: 35px;
    width: 35px;
    border: 2px solid black;
    transform: translate(180%,90%);
     
}


.b5 {
    height: 100px;
    width: 100px;
    background-color: cadetblue;
    position: absolute;
    right: 0;
    bottom: 0;
}
.c5{
    height: 35px;
    width: 35px;
    border: 2px solid black;
    transform: translate(180%,180%);
}

.b6 {
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.c6{
    height: 35px;
    width: 35px;
    border: 2px solid black;
    transform: translate(90%,180%);
}


.b7 {
    height: 100px;
    width: 100px;
    background-color: blue;
    position: absolute;
    left: 0;
    bottom: 0;
}
.c7{
    height: 35px;
    width: 35px;
    border: 2px solid black;
    transform: translate(0%,180%);
}

.b8 {
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.c8{
    height: 35px;
    width: 35px;
    border: 2px solid black;
    transform: translate(0,90%);
}


.b9 {
    height: 100px;
    width: 100px;
    background-color: green;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.c9{
    height: 35px;
    width: 35px;
    border: 2px solid black;
    transform: translate(90%,90%);
}