*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.maindiv{
    display: flex;
    height: 300px;
    width: 600px;
    border: 2px solid black;

}

.box-1{
    height: 200px;
    width: 300px;
    background-color: blue;
    /* flex-grow: 1; */
    flex-shrink: 2;
}

.box-2{
    height: 200px;
    width: 300px;
    background-color:purple;
    /* flex-grow: 1; */
    flex-shrink: 2;
}

.box-3{
    height: 200px;
    width: 300px;
    background-color:skyblue;
    /* flex-grow: 1; */
    flex-shrink: 2;
}